.answer {
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  min-width: 30vw;
}

.answerLine {
  font-size: 16px;
  text-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.choice {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.answers {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 90vw;
}

.correctChoice {
  color: rgb(186, 255, 186);
}

.noChoice {
  color: rgb(255, 255, 110);
}

.incorrectChoice {
  color: rgb(255, 151, 151);
}

.answerContainer {
  width: 100%;
  max-width: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected {
  border: 2px solid rgb(91, 195, 255);
  background-color: rgb(255, 255, 255, 0.1);
}

.correctAnswer {
  border: 2px solid rgb(87, 255, 87);
  background-color: rgba(103, 255, 161, 0.25);
}

.incorrectAnswer {
  border: 2px solid rgb(255, 151, 151);
  background-color: rgba(255, 119, 119, 0.15);
}
